/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Outfit:wght@100..900&display=swap');


/*Asterisk wildcard selector to override default styles by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

/*Main style*/
body {
    /*For background gradient I used https://mycolor.space/*/
    background-image: linear-gradient(to right top, #e5b734, #eac82a, #edda1e, #edec10, #e9ff00);
    color: #1c1c1f;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Outfit", "Oswald", sans-serif;
}

/*Body background*/
/*Used Chat-GPT to figure out how to add background image to body that will be fixed and doesn't change size*/
body::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/body_background.webp);
    background-size: cover;
    z-index: -1;
}

/*Header*/
header {
    background-image: linear-gradient(to right top, #e5b734, #eac82a, #edda1e, #edec10, #e9ff00);
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 20px #1c1c1f;

}

/*I used Chat-GPT to figure out how change size when hover over links and not to change position of neighbours*/
header a {
    text-decoration: none;
    color: #1c1c1f;
    transition: transform 0.3s ease, color 0.3s ease;
    margin: 0 20px;
    position: relative;
}

header a:hover {
    transform: scale(1.15);
}

/*Logo style*/
#logo {
    font-weight: bold;
    color: #5885ff;
    background-color: #1c1c1f;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    text-align: center;
    box-shadow: 0 5px 5px #1c1c1f;
}

/*Menu*/
#menu {
    font-size: 150%;
    letter-spacing: 3px;
    list-style-type: none;
    color: #1c1c1f;
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-align: center;
}

#menu a {
    display: flex;
    color: inherit;
    padding-bottom: 5px;
}

#menu a:hover {
    color: #e5b734;
}

/*For display on mobile devices only*/
#nav-toggle {
    display: none;

}

.nav-toggle-label {
    display: none;
}

/*Styling of open page*/

.open-page {
    font-size: 120%;
    text-shadow: 1px 1px 3px #1c1c1f;
}

/*Grid menu*/
/*Used https://www.w3schools.com/css/css_grid.asp*/

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    margin: 140px 15px 0 15px;
    grid-template-rows: 250px 250px;
}

.grid-item {
    padding: 20px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 5px #1c1c1f;
}


.grid-item p {
    transition: transform 0.3s ease, color 0.3s ease;
}

.grid-item:hover p {
    transform: scale(1.15);
    color: #e5b734;
}

#item1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: url(../images/bio.webp) no-repeat center center/cover;
    transition: transform 0.3s ease, color 0.3s ease;
}

#item1:hover {
    transform: scale(1.03);
}

#item2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: url(../images/gallery.webp) no-repeat center center/cover;
    transition: transform 0.3s ease, color 0.3s ease;

}

#item2:hover {
    transform: scale(1.03);
}

#item3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: url(../images/in_modern_culture.webp) no-repeat center center/cover;
    transition: transform 0.3s ease, color 0.3s ease;
}

#item3:hover {
    transform: scale(1.03);
}

/*Articles menu*/
#articles-section {
    margin: 20px 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.text-content {
    width: 100%;
    max-width: 1200px;
    background-image: linear-gradient(to right top, #eae62a, #e2cf1c, #d8b810, #cca205, #bf8d00);
    padding: 20px;
    margin-top: 10px;
    border: #bf8d00 solid;
    border-radius: 3px;
    text-align: justify;
}


article h2,
h3 {
    margin: 20px 0;
    text-transform: uppercase;
    border-bottom: 1px solid #1c1c1f;

}

article span {
    margin: 10px 0;
    display: inline-block;
}

/*Overwrite default summary sign*/
/*I used materials from these articles:
https://www.w3schools.com/tags/tag_summary.asp
https://www.sitepoint.com/style-html-details-element/ */

summary {
    list-style-type: '⬇ ';

}

details[open]>summary {
    list-style-type: '⬆ ';

}

summary::before {
    content: "Click to see the full article";
    position: absolute;
    color: white;
}

details[open] summary::before {
    content: "Click to close article";
    color: white;
}

/*Sign-up section*/

/*To make form located on the center*/
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup-section {
    padding: 40px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px #0c1839c7;
    max-width: 600px;
    width: 100%;

}

#signup-form h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

#signup-form {

    color: #ffffff;
    background-image: linear-gradient(to right top, #5885ff, #4f7cf9, #4674f2, #3d6bec, #3363e5);
    padding: 30px;

}

.text-input {
    color: #ffffff;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 3px;
    width: 100%;
    height: 25px;
    padding: 0 5px 0 5px;
    margin: 5px 0 20px 0;

}

.join-button {
    border-radius: 3px;
    background-image: linear-gradient(to right top, #5885ff, #4771ec, #365cd9, #2349c5, #0735b2);
    color: #ffffff;
    font-size: 100%;
    padding: 20px 30px 20px 30px;
    margin-top: 20px;
    cursor: pointer;
}

/*Footer*/
#social-media {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 200%;
    padding: 5%;
    color: #2c57ce;
    text-shadow: 2px 2px 4px #2c57ce80;
    display: flex;
    justify-content: center;
    align-items: center;
}

#social-media a {
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
    text-decoration: none;

}

#social-media a:hover {
    transform: scale(1.3);
}

footer {
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to right top, #e5b734, #eac82a, #edda1e, #edec10, #e9ff00);
    margin-top: 10px;
}

/*Media query for for mobile devices (max 768px)*/
@media (max-width: 768px) {

    /*Body background*/
    body::after {
        background-image: none;
    }

    /*Menu*/
    /*Used Chat-GPT to figure out how to make dropdown menu*/
    #menu {
        display: block;
        align-items: center;

    }

    #menu a {
        padding: 10px 0;
        text-align: center;
        width: 100%;
    }


    nav {
        position: absolute;
        background-image: linear-gradient(to right top, #e5b734, #eac82a, #edda1e, #edec10, #e9ff00);
        width: 100%;
        left: 0;
        display: none;
        top: 100%;
    }

    /*Logo*/
    #logo {
        width: 150px;
        height: 75px;
        font-size: 90%;
    }

    /*Used code snippet from Running Club Project*/
    #nav-toggle:checked~nav {
        display: block;

    }

    .nav-toggle-label {
        font-size: 2rem;
        margin-right: 20px;
        display: flex;
    }

    /*Grid menu*/

    .grid-container {
        grid-template-columns: 1fr;
        margin-top: 120px;
        grid-template-rows: 150px 150px 150px;
    }

    .grid-item {
        text-align: center;
    }

    #item1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #item2 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #item3 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    /*Sign-up*/

    #signup-section {
        padding: 20px;
    }

    #signup-form  {
        padding: 30px 15px;
    }
}